{% extends 'base.html.twig' %}

{% block title %}Offres Candidats{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
<h1 class="text-center">Offres d'emploi</h1>
<table class="table m-3">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Horaires</th>
            <th>Salaire</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for offre in offres %}
        <tr>
            <td class="text-left align-middle">{{ offre.name }}
            <td class="text-left align-middle">{{ offre.city }}
            <td class="text-left align-middle">{{ offre.schedules }} /h
            <td class="text-left align-middle">{{ offre.salary }} €
            <td>
                <a href="{{ path('app_candidat_show', {'id': offre.id}) }}" class="btn btn-primary">Voir plus</a>
            </td>  
    </tbody>
{% endfor %}
</table>
</div>

    
{% endblock %}
